body {
  margin: 0;
  
  position:relative;
  font-color:black;

}
.loghin{
  width: 467px;
  height: 270px;
  background-color:#666666;
  float: left;
  color: white;
  font-weight: bold;
padding-left: 20px;
padding-right:  20px;
padding-bottom:  20px;
  border-radius: 10px;
}


.galerie {
  background: #202024 url('images/black-thread.png') repeat left top;
  left: -250px;  
  height: 100%;
  position: fixed;
  width: 250px;
  overflow:auto;
  z-index: 11;
}


.img{
  width:230px;
  height:150px;
  border-radius: 7 7 7 7;
}


.galerie ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

.galerie li {
  border-bottom: 1px solid #636366;
 /*font-family: 'Open Sans', sans-serif;*/
  line-height: 45px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-top: 5px;
  padding-right:5px; 
}
.galerie a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
  cursor: pointer;
 
}
.icon-close img{
   float:right;
   padding-top: 10px;
   padding-right: 20px;
   height: 55px;
  
}
.icon-close h3{
float:left;
padding-left: 75px;
color:#66CCFF;

}



.head{
  z-index: 9;
  background-color: white;
  top: 0px;
  left: 0px;
  width:100%;
  height:10%;
  opacity:0.6;
  position:fixed;
  border-bottom-right-radius:15;
  border-bottom-left-radius:15;

 }
.decoretion{
  text-decoration: none;
}
 .decoration nav {
  z-index: 10;
  width: 100%;
  height: 60px; 
  position:fixed; 
  top: 0;
 
}

.decoration nav ul {
  padding: 25px;
 margin: 0 auto;
  list-style: none;
  text-align: center;

  
}
.decoration nav ul li {
  display: inline-block;
  margin: 0 20px;

}
.decoration nav ul li a {

  padding: 10px 0;
  color: #FF0000;
  font-size: 22px;
  text-decoration:none;
  font-weight: bold;
  transition: all 0.2s ease;
  font-family: 'Gloria Hallelujah', cursive;

}
.decoration nav ul li a:hover {
  color: #34495E;
 text-decoration:none;

}
.log{
	float:right;
  margin-right: 25px;
 
}
.log a{
   text-decoration:none;
  color: #FF0000;
  font-size: 22px;
  font-weight: bold;
  transition: all 0.2s ease;
  font-family: 'Gloria Hallelujah', cursive;
}
.log a:hover {  color: #34495E;
 text-decoration:none;}



.slideshowV01{
position: relative;
margin: 0 auto;
overflow: hidden;

}
#slideshowV01 img{
  z-index:1;
  position:absolute;
  top:0;
  left:0;
  height: 550px;
  width: 100%;
}
#slideshowV01 img.active{
  z-index:3; 
}
#slideshowV01 img.last-active{
  z-index:2;
}


.logo img{
   z-index:5;
  position:absolute;
  height:auto;
  width:auto;
 margin-top: 10%;
margin-left:35%;
margin-bottom: 0px;

}

.container {
  background-image: url("images/a.png");
  height: auto;
  position: absolute;
  margin-top:0px;
  z-index: 5;
  box-shadow:20px 20px 120px 100px #009BFF;
  font-family:'Open Sans', sans-serif;
}
.h3acasa{
	margin-top: 25px;
	text-align: center;
	color:white; 
  font-family:'Open Sans', sans-serif;
}
.h3galerie{
  color:white;
  text-align: center;
  margin-top: 60px;
}


.content{
	margin-top: 20px;
	margin-left: 46px;
	z-index: 10;
	float:left;
	width:auto;
	height:auto;
	position:relative;
  box-shadow: 8px 8px 23px #888888;
  background-color:#6699CC;
  border-radius:10px;
  padding:17px 17px 17px 17px;


}
.content p{
	font-size: 14px;
	color:white; 
  font-family:'Open Sans', sans-serif;
}

.sitebar{
	margin-top: 20px;
	margin-right:40px;
	z-index: 10;
	float:right;
	width:auto;
	height:auto;
	border-radius:5px;
	position:relative;
  box-shadow: 8px 8px 23px #888888;
  background-color:#6699CC;
  border-radius:10px;
  padding:20px 12px 12px 20px;

}
.sitebar span{
	font-size: 14px;
	color:white; 
  font-family:'Open Sans', sans-serif;
}
.sitebar p{
	font-size: 14px;
	color:white; 
	padding-left: 18%;
  font-family:'Open Sans', sans-serif;
}


 article {
    padding: 25px;
    height: 120px;
    
   
}

.sectiongalerie{
float:left;
  width:100%;
  height: auto;
  position: relative;
}
.frameuri{
  margin-left: 40px;
  margin-top: 20px;
}
.frameuri iframe{
  width:360px;
  height:340px;
  margin-right: 10px;
  float:left;
  position: relative;
}

.bar{
  width:400px;
  position: relative;
  margin-left: 40px;
}
.butongalerie{
  margin-left: 20px;
  margin-right: 10px;
  color:white;
  float:left;
  z-index: 5;
}
.icon-galerie{
z-index:5;

}

.sectioncontact{
float:left;
  width:100%;
  height: auto;
  position: relative;
}

.h3contact{
  color:white;
  text-align: center;
  margin-top: 50px;
}
.containercontact{
	width:400px;
	float:left;
	height: auto;
  margin-left: 70px;
  margin-top:20px;
}
#contact table{margin-left:90px; width: 4em; float: left; margin-right: 0.5em; display: block; height:30px;}
#contact table td{padding-top:10px;color:white;}
#contact table label{padding-top: 2px;}
#contact input{margin-left: 10px;background-color:#666666;border:solid 1px black;border-radius: 5px;}
#contact textarea{margin-left: 10px;background-color:#666666;border:solid 1px black;border-radius: 5px;}
#buton{padding: 5px 10px 5px 10px;border:solid 1px black;border-radius: 5px;}

.contacttext{
	float:right;
	width: 500px;
	height: auto;
	margin-right: 40px;
	margin-top: 20px;
	font-size: 14px;
	color:white; 
  box-shadow: 8px 8px 23px #888888;
  background-color:#6699CC;
  border-radius:10px;
  padding:20px 12px 12px 20px;


}
.program{
	float:left;
	padding-left: 25px;

}
.serii{
	float: right;
	padding-right: 100px;

}
.anunt{
	float: left;
	
}

.harta iframe{
	width: 500px;
	height: 400px;
	float:left;
	margin-top: 80px;
	margin-bottom: 40px;
	border-radius: 5px 5px 5px 5px;
	margin-left: 130px;
}



.footer{
float: left;
 z-index: 5;
  width:100%;
  height: 80px;
  position:relative;
  bottom: 0px;

}
.copyright{
	float:left;
	margin-left:20px; 
	color:white;
}
.copyright a{
	font-weight: bold;
	text-decoration: none;
	color: white;
  font-family:'Open Sans', sans-serif;
}
.copyright a:hover{
	font-weight: bold;
	text-decoration: none;
	color: #666666;
}
.nume{
	float:right;
	margin-right:20px; 
	color:white;
}
.nume a{
	font-weight: bold;
	text-decoration: none;
	color: white;
  font-family:'Open Sans', sans-serif;
}
.nume a:hover{
	font-weight: bold;
	text-decoration: none;
	color: #666666;
}
.hr4{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 30px;
  color:white;
}

footer hr{
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	color:white;
}

@media (max-width: 600px) {
    .jumbotron {
        width:100%;
        
    }
     .img{
        width:200px;
        height:120px;
        padding-left: 20px;
        padding-right: 0px;
    }

  .logo img{
      margin-left:10%;
      margin-top:20%;

    }
  
  }


::-webkit-scrollbar {  
    width: 0px;  
}  
